{% extends "layout.html" %}
{% block content %}
    <h3>Manage your subscriptions</h3>
    Current user: {{ user.email }} <a href={{ url_for('user.logout') }}>Log out</a><br><br>
    <a href={{ url_for('manage.add') }}>New subscription</a><br>
    Current subscriptions({{ pages|length }}):<br>
    {% for p in pages %}
    {{ p.name }} &nbsp; {{ p.url }}
    <a href={{ url_for('manage.edit',id=p.id) }}>Edit</a>
    <a href={{ url_for('manage.delete',id=p.id) }}>Delete</a>

    <br>
    {% endfor %}
{% endblock %}
